<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }}</dd>

  <td>Edad:</td>
  <dd> {{ age }}</dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="name !== 'Superman'"
  (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
  *ngIf="age !== 36"
  (click)="changeAge(36)" class="btn btn-primary mx-2">
  Cambiar edad
</button>

<button
  (click)="resetForm()" class="btn btn-primary">
  Reset form
</button>
